@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-components.css";
@import "components/badge.css";
@import "components/icon-row.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  background-image: url("https://cdn.clien.net/web/api/file/F01/7958213/c267eb3ed9b59.jpg?w=780&h=30000");
  background-size: cover;
}

.pt-5 {
}

.main-screen {
  padding: 18px var(--horizontal-space);
}
