.recommended-friends {
  padding: 25px 0px;
  margin: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 12px;
  color: var(--gray);
}

.recommended-friends span {
  margin: 110px 0;
  text-align: center;
  display: block;
  color: var(--gray);
  font-size: 18px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.5;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__members-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0 5px;
  background-color: var(--gray);
}

.open-post__members-status {
  color: #d0ffb0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}
