.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 17px;
  text-align: center;
  font-weight: 500;
}

.icon-row__icon #long {
  margin-top: 10px;
}

.icon-row2 .icon-row__icon:nth-child(1) {
  margin-left: 8px;
}
.icon-row2 .icon-row__icon:nth-child(2) {
  margin-left: 15px;
}
.icon-row2 .icon-row__icon:nth-child(3) {
  margin-left: 20px;
}
