.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 30px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  clear: both;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.nav__dot {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: 31px;
  bottom: 27px;
}
